<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Predicting Heart Disease</h1>
      <form action="{{ url_for('form') }}" method="post">
      <div class="rendered-form">
        <div class="formbuilder-number form-group field-number-1674189620394">
            <label for="number-1674189620394" class="formbuilder-number-label">Age<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="age" access="false" min="1" step="1" id="number-1674189620394" required="required" aria-required="true">
        </div>
        <div class="formbuilder-radio-group form-group field-radio-group-1674189160597">
            <label for="radio-group-1674189160597" class="formbuilder-radio-group-label">Sex<span class="formbuilder-required">*</span></label>
            <div class="radio-group">
                <div class="formbuilder-radio">
                    <input name="radio-group-1674189160597" access="false" id="radio-group-1674189160597-0" required="required" aria-required="true" value="option-1" type="radio">
                    <label for="radio-group-1674189160597-0">male</label>
                </div>
                <div class="formbuilder-radio">
                    <input name="radio-group-1674189160597" access="false" id="radio-group-1674189160597-1" required="required" aria-required="true" value="option-2" type="radio">
                    <label for="radio-group-1674189160597-1">Female</label>
                </div>
            </div>
        </div>
        <div class="formbuilder-radio-group form-group field-radio-group-1674189775370">
            <label for="radio-group-1674189775370" class="formbuilder-radio-group-label">CP<span class="formbuilder-required">*</span></label>
            <div class="radio-group">
                <div class="formbuilder-radio">
                    <input name="radio-group-1674189775370" access="false" id="radio-group-1674189775370-0" required="required" aria-required="true" value="Less" type="radio">
                    <label for="radio-group-1674189775370-0">1</label>
                </div>
                <div class="formbuilder-radio">
                    <input name="radio-group-1674189775370" access="false" id="radio-group-1674189775370-1" required="required" aria-required="true" value="notice" type="radio">
                    <label for="radio-group-1674189775370-1">2</label>
                </div>
                <div class="formbuilder-radio">
                    <input name="radio-group-1674189775370" access="false" id="radio-group-1674189775370-2" required="required" aria-required="true" value="moderate" type="radio">
                    <label for="radio-group-1674189775370-2">3</label>
                </div>
                <div class="formbuilder-radio">
                    <input name="radio-group-1674189775370" access="false" id="radio-group-1674189775370-3" required="required" aria-required="true" value="more moderate" type="radio">
                    <label for="radio-group-1674189775370-3">4</label>
                </div>
            </div>
        </div>
        <div class="formbuilder-number form-group field-number-1674189952338">
            <label for="number-1674189952338" class="formbuilder-number-label">trestbps<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="trestbps" access="false" min="1" id="number-1674189952338" required="required" aria-required="true">
        </div>
        <div class="formbuilder-number form-group field-number-1674190021786">
            <label for="number-1674190021786" class="formbuilder-number-label">chol<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="chol" access="false" min="1" id="number-1674190021786" required="required" aria-required="true">
        </div>
        <div class="formbuilder-number form-group field-number-1674190036761">
            <label for="number-1674190036761" class="formbuilder-number-label">fbs<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="fbs" access="false" min="1" id="number-1674190036761" required="required" aria-required="true">
        </div>
        <div class="formbuilder-number form-group field-number-1674190046303">
            <label for="number-1674190046303" class="formbuilder-number-label">restecg<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="restecg" access="false" min="1" id="number-1674190046303" required="required" aria-required="true">
        </div>
        <div class="formbuilder-number form-group field-number-1674190067809">
            <label for="number-1674190067809" class="formbuilder-number-label">thalach<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="thalach" access="false" min="1" id="number-1674190067809" required="required" aria-required="true">
        </div>
        <div class="formbuilder-number form-group field-number-1674190081662">
            <label for="number-1674190081662" class="formbuilder-number-label">exang<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="exang" access="false" min="1" id="number-1674190081662" required="required" aria-required="true">
        </div>
        <div class="formbuilder-number form-group field-number-1674190093686">
            <label for="number-1674190093686" class="formbuilder-number-label">oldpeak<span class="formbuilder-required">*</span></label>
            <input type="number" class="form-control" name="oldpeak" access="false" min="1" id="number-1674190093686" required="required" aria-required="true">
        </div>
        <div class="formbuilder-radio-group form-group field-radio-group-1674190121919">
            <label for="radio-group-1674190121919" class="formbuilder-radio-group-label">Location<span class="formbuilder-required">*</span></label>
            <div class="radio-group">
                <div class="formbuilder-radio">
                    <input name="radio-group-1674190121919" access="false" id="radio-group-1674190121919-0" required="required" aria-required="true" value="option-1" type="radio">
                    <label for="radio-group-1674190121919-0">US</label>
                </div>
                <div class="formbuilder-radio">
                    <input name="radio-group-1674190121919" access="false" id="radio-group-1674190121919-1" required="required" aria-required="true" value="option-2" type="radio">
                    <label for="radio-group-1674190121919-1">Europe</label>
                </div>
            </div>
        </div>
        <div class="formbuilder-button form-group field-button-1674190614287">
            <input type = "submit" text = "submit">
        </div>
    </div>
  </form>
  </div>
</body>